*,
*::before,
*::after {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #37638A;
}

#device{
    padding: 10px 80px 30px 80px;
    background-color: #C12D2D;
    border-radius: 10px;
    margin-top: 100px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 58px;
    font-weight: 800;
    font-family: 'Dancing Script';
    color: #CBA328;
    margin-bottom: 10px;
}

#grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 706px;
    width: 970px;
    border: 1px solid grey;
}

.cell {
    background-color: #eae8e8;
    border: 0.5px solid rgb(158, 158, 158);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 968px;
}

.regular {
    background-color: #808080;
}